.container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 40px auto;
}
.ingredient-list {
  width: 40%;
}
.burger-stack {
  width: 40%;
}

li {
  padding: 8px;
  margin-bottom: 4px;
  border-radius: 8px;
  font-weight: bold;
  text-shadow: 0px 0px 2px #000000;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  cursor: pointer;
  border-radius: 8px;
  background-color: #1a1a1a;
  border: 1px solid transparent;
}
